<section class="content-wrapper">
    <div class="col col-lg-12 col-md-12 col-sm-12 pt-10">
		<div data="tasks" dhx-gantt style="height:{{ heightSize }}px; width:100%;">
			<div gantt-column label="Task">{{task.text | lowercase}}</div>
			<div gantt-column align="center" width="200" label="Duration">{{task.duration}}</div>
			<div gantt-column-add width="45"></div>
				<div gantt-template="task_text">
					<strong>#{{task.id}}</strong>: {{task.text | uppercase}}
				</div>
		</div>
    </div>
</section>