<section class="content-wrapper">
    <div class="col col-lg-12 col-sm-12 col-md-12 pt-10">
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua disabled">
            <div class="inner">
              <h3> {{MainController.dashboard.projects}} </h3>
              <p>Projects</p>
            </div>
            <div class="icon">
              <i class="fa fa-archive" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green disabled">
            <div class="inner">
              <h3> {{MainController.dashboard.tasks}} </h3>
              <p>Tasks</p>
            </div>
            <div class="icon">
             <i class="fa fa-indent" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-maroon disabled">
            <div class="inner">
              <h3> {{MainController.dashboard.ressources}} </h3>
              <p>Resources</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
</section>