<span class="bckg"></span>
<section class="sidebarHeader">
    <h1 class="pointer" ng-click="MainController.acceuil(); MainController.updateAction($event)" id="dashboard">Project-Track</h1>
    <nav class="sidebar-treeMenu">
        <ul>
            <li><a ng-click="MainController.updateAction($event)" id="project">Project</a></li>
            <li><a ng-click="MainController.updateAction($event)" id="taskGroup">TaskGroup</a></li>
            <li><a ng-click="MainController.updateAction($event)" id="task">Task</a></li>
            <li><a ng-click="MainController.updateAction($event)" id="ressource">Ressource</a></li>
            <li><a ng-click="MainController.updateAction($event)" id="gantt">Gantt</a></li>
        </ul>
    </nav>
</section>
