<p> {{modalLinkEntityDirective.test}} </p>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Be careful!</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="col col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped">
        	<thead></thead>
        	<tbody>
        		<tr ng-repeat="items in ModalController.data">
        			<td ng-repeat="item in items">{{ item }}</td>
        		</tr>
        	</tbody>
        </table>
    </div>
<!-- 	<ul>
		<li ng-repeat="item in ModalController.data">
			<a href="#" ng-click="$event.preventDefault();">{{ item }}</a>
		</li>
	</ul> -->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ModalController.ok()">Link</button>
    <button class="btn btn-warning" type="button" ng-click="ModalController.cancel()">Cancel</button>
</div>