<section class="content-wrapper">
<!-- EntityList menu -->
    <div class="col col-lg-12 col-md-12 col-sm-12 content-actionbar entitylist-option-wrapper">
        <!-- Right EntityList menu -->
        <div class="col col-lg-12 col-md-12 col-sm-12 entitylist-option">
        
            <!-- Left EntityList menu -->
            <div class="table-options col-sm-3">
                <div class="input-group">
                  <input type="text" ng-model="EntityListController.searchBox" ng-change="EntityListController.updateSearchBox(EntityListController.searchBox)" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat blue-custom-primary"><i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div>
                <button type="button" class="btn blue-custom-primary btn-flat" ng-click="EntityListController.createEntity()">New</button>
            </div>
        </div>
    </div>
    <!-- Table -->
        <div class="col col-lg-12 col-md-12 col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr ng-if="EntityListController.entityType == 'project' ">
                        <th>ID Project</th>
                        <th>Project name</th>
                        <th>Starting date</th>
                        <th>Client name</th>
                        <th></th>
                    </tr>
                    <tr ng-if="EntityListController.entityType == 'taskgroup' ">
                        <th>ID Taskgroup</th>
                        <th>Taskgroup name</th>
                        <th>Starting date</th>
                        <th>Finishing date</th>
                        <th></th>
                    </tr>
                    <tr ng-if="EntityListController.entityType == 'task' ">
                        <th>ID Task</th>
                        <th>Task name</th>
                        <th>Starting date</th>
                        <th>Finishing date</th>
                        <th></th>
                    </tr>

                        <tr ng-if="EntityListController.entityType == 'ressource' ">
                        <th>ID Ressource</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="EntityListController.entityType == 'project' " ng-repeat="entity in EntityListController.entityList | startFromFilter:(EntityListController.currentPage - 1) * EntityListController.maxPerPage | filter: EntityListController.searchBox | limitTo: EntityListController.maxPerPage" class="search-animate">
                        <th><a class="pointer view-entity" ng-click="EntityListController.openEntity(entity._id)">{{ entity.id_project }}</a></th>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.starting_date }}</td>
                        <td>{{ entity.client_name }}</td>
                        <td><button type="button" class="btn btn-danger btn-sm" ng-click="EntityListController.delete(entity)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="EntityListController.pagination" class="fixed-bottom">
            <ul uib-pagination 
                total-items="EntityListController.filteredLength" 
                ng-model="EntityListController.currentPage" 
                items-per-page="EntityListController.maxPerPage">
            </ul>
        </div>

</section>

