<!-- EntityList menu -->
    <div class="col col-lg-12 col-md-12 col-sm-12 content-actionbar entitylist-option-wrapper">
        <!-- Right EntityList menu -->
        <div class="col col-lg-12 col-md-12 col-sm-12 entitylist-option">
        
            <!-- Left EntityList menu -->
            <div class="table-options col-sm-3">
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                      <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat blue-custom-primary"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div>
                <button type="button" class="btn blue-custom-primary btn-flat">New</button>
            </div>
        </div>
    </div>

<!-- Table -->
<section class="content">
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

