<section class="content-wrapper">
<!-- EntityList menu -->
    <div class="col col-lg-12 col-md-12 col-sm-12 content-actionbar entitylist-option-wrapper">
        <!-- Right EntityList menu -->
        <div class="col col-lg-12 col-md-12 col-sm-12 entitylist-option">
        
            <!-- Left EntityList menu -->
            <div class="table-options col-lg-3 col-md-4 col-sm-6">
                <div class="input-group">
                  <input type="text" ng-model="EntityListController.searchBox" ng-change="EntityListController.updateSearchBox(EntityListController.searchBox)" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat blue-custom-primary no-pointer"><i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div>
                <button type="button" class="btn blue-custom-primary btn-flat" ng-if="EntityListController.edit" ng-click="EntityListController.createEntity()">New</button>
            </div>
        </div>
    </div>
    <!-- Table -->
        <div class="col col-lg-12 col-md-12 col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr ng-if="EntityListController.entityType == 'project' ">
                        <th>ID Project</th>
                        <th>Project name</th>
                        <th>Starting date</th>
                        <th>Client name</th>
                        <th></th>
                    </tr>
                    <tr ng-if="EntityListController.entityType == 'taskgroup' ">
                        <th>ID Taskgroup</th>
                        <th>Taskgroup name</th>
                        <th>Starting date</th>
                        <th>Finishing date</th>
                        <th>Position</th>
                    </tr>
                    <tr ng-if="EntityListController.entityType == 'task' ">
                        <th>ID Task</th>
                        <th>Task name</th>
                        <th>Starting date</th>
                        <th>Finishing date</th>
                        <th></th>
                    </tr>

                        <tr ng-if="EntityListController.entityType == 'ressource' ">
                        <th>ID Ressource</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Cost</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="EntityListController.entityType == 'project' " ng-repeat="entity in EntityListController.entityList | startFromFilter:(EntityListController.currentPage - 1) * EntityListController.maxPerPage | filter: EntityListController.searchBox | limitTo: EntityListController.maxPerPage" >
                        <th><a class="pointer view-entity" ng-click="EntityListController.openEntity(entity._id)">{{ entity.projectId }}</a></th>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.startDate | dateFilter }}</td>
                        <td>{{ entity.clientName }}</td>
                        <td ng-if="EntityListController.edit"><button type="button" class="btn btn-danger btn-sm" ng-click="EntityListController.deleteEntity(entity)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr ng-if="EntityListController.entityType == 'taskgroup' " ng-repeat="entity in EntityListController.entityList | startFromFilter:(EntityListController.currentPage - 1) * EntityListController.maxPerPage | filter: EntityListController.searchBox | limitTo: EntityListController.maxPerPage" >
                        <th><a class="pointer view-entity" ng-click="EntityListController.openEntity(entity._id)">{{ entity.taskGroupId }}</a></th>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.startDate | dateFilter }}</td>
                        <td>{{ entity.endDate | dateFilter }}</td>
                        <td>{{ entity.position }}</td>
                        <td ng-if="EntityListController.edit"><button type="button" class="btn btn-danger btn-sm" ng-click="EntityListController.deleteEntity(entity)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr ng-if="EntityListController.entityType == 'task' " ng-repeat="entity in EntityListController.entityList | startFromFilter:(EntityListController.currentPage - 1) * EntityListController.maxPerPage | filter: EntityListController.searchBox | limitTo: EntityListController.maxPerPage" >
                        <th><a class="pointer view-entity" ng-click="EntityListController.openEntity(entity._id)">{{ entity.taskId }}</a></th>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.startDate | dateFilter }}</td>
                        <td>{{ entity.endDate | dateFilter }}</td>
                        <td ng-if="EntityListController.edit"><button type="button" class="btn btn-danger btn-sm" ng-click="EntityListController.deleteEntity(entity)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr ng-if="EntityListController.entityType == 'ressource' " ng-repeat="entity in EntityListController.entityList | startFromFilter:(EntityListController.currentPage - 1) * EntityListController.maxPerPage | filter: EntityListController.searchBox | limitTo: EntityListController.maxPerPage" >
                        <th><a class="pointer view-entity" ng-click="EntityListController.openEntity(entity._id)">{{ entity.userId }}</a></th>
                        <td>{{ entity.username }}</td>
                        <td>{{ entity.email }}</td>
                        <td>{{ entity.cost }}</td>
                        <td ng-if="EntityListController.edit"><button type="button" class="btn btn-danger btn-sm" ng-click="EntityListController.deleteEntity(entity)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="EntityListController.pagination" id="pagination-list">
            <ul uib-pagination 
                total-items="EntityListController.filteredLength" 
                ng-model="EntityListController.currentPage" 
                items-per-page="EntityListController.maxPerPage">
            </ul>
        </div>

</section>

