<div class="container login-background" ng-controller="LoginController as LoginController">
    <div class="row">
        <div class="col-md-12 fading">
            <div class="wrap">
                <p class="form-title">
                    PROJECT-TRACKER</p>
                <form class="login" ng-submit="LoginController.login(user)">
                <input type="text" placeholder="Username" ng-model="user.username" autocomplete="off" required/>
                <input type="password" placeholder="Password" ng-model="user.password" autocomplete="off" required/>
                <input type="submit" value="Sign In" class="btn bg-purple btn-sm" />
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" />
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                            <a class="forgot-pass">Forgot Password</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
