<section class="content-wrapper">

    <div class="col col-lg-12 col-md-12 col-sm-12 content-actionbar entitylist-option-wrapper">
        <div class="col col-lg-12 col-md-12 col-sm-12 entitylist-option2">
            <button type="button" class="btn blue-custom-primary btn-flat" ng-click="EntityController.save(false)" ng-if="EntityController.edit">Save</button>
            <button type="button" class="btn blue-custom-primary btn-flat" ng-click="EntityController.save(true)" ng-if="EntityController.edit && EntityController.entityActual.entityId == 0">Save and Add</button>
            <button type="button" class="btn blue-custom-primary btn-flat" ng-click="EntityController.switchEdit()" ng-if="!EntityController.edit">Edit</button>
        </div>
    </div>
    <!-- If entity creation -->
    <section class="content" ng-if="EntityController.entityActual.entityId == 0">
        <!-- Project -->
        <div class="row" ng-if="EntityController.entityActual.entityType == 'project'">
            <!-- Left view -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <!-- Actual entity -->
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Project :</h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Name :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.name">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Client :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.clientName">
                        </div>
                      </div>
                      <div class="row pt-10">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">    
                            <label>Allocated budget :</label>
                            <input class="form-control" type="number" min="0" ng-model="EntityController.data.budget">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">   
                            <date-directive date="EntityController.data.startDate" title="Starting date :" disabled="EntityController.edit"></date-directive>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
            </div>
        </div>

        <!-- Taskgroup -->
        <div class="row" ng-if="EntityController.entityActual.entityType == 'taskgroup'">
            <!-- Left view -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <!-- Actual entity -->
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Taskgroup : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Name :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.name">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Position :</label>
                            <input class="form-control" type="number" min="0" ng-model="EntityController.data.position">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
            </div>

            <!-- Right View -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title"> Project : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <modal-link-entity-directive title="Poject" entity-linked="project" display="plus" max-relation="1" id="EntityController.data.projectId" entity-list="" edit="EntityController.edit"></modal-link-entity-directive>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <!-- Task -->
        <div class="row" ng-if="EntityController.entityActual.entityType == 'task'">
            <!-- Left view -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <!-- Actual entity -->
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Task : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Name :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.name">
                        </div>
                      </div>
                      <div class="row pt-10">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">    
                            <date-directive date="EntityController.data.startDate" title="Starting date :" disabled="EntityController.edit"></date-directive>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">    
                            <date-directive date="EntityController.data.endDate" title="End date :" disabled="EntityController.edit"></date-directive>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
            </div>

            <!-- Right View -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title"> Task Predecessor : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <modal-link-entity-directive title="Predecessor" entity-linked="task" display="plus" max-relation="none" id="EntityController.data.predecessor" entity-list="" edit="EntityController.edit"></modal-link-entity-directive>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title"> Task Group : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <modal-link-entity-directive title="taskgroup" entity-linked="taskgroup" display="plus" max-relation="1" id="EntityController.data.taskGroupId" entity-list="" edit="EntityController.edit"></modal-link-entity-directive>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <!-- Ressource -->
         <div class="row" ng-if="EntityController.entityActual.entityType == 'ressource'">
            <!-- Left view -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <!-- Actual entity -->
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Ressource : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Username :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.username" ng-disabled="!EntityController.edit">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Email :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.email" ng-disabled="!EntityController.edit">
                        </div>
                      </div>
                      <div class="row pt-10">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">    
                            <label>Password :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.password" ng-disabled="!EntityController.edit">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">    
                            <label>Cost :</label>
                            <input class="form-control" type="number" min="0" ng-model="EntityController.data.cost" ng-disabled="!EntityController.edit">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
            </div>
        </div>
    </section>

    <!-- If entity update -->
    <section class="content" ng-if="EntityController.entityActual.entityId != 0">
        <!-- Project -->
        <div class="row" ng-if="EntityController.entityActual.entityType == 'project'">
            <!-- Left view -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <!-- Actual entity -->
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Project :</h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Name :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.name" ng-disabled="!EntityController.edit">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Client :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.clientName" ng-disabled="!EntityController.edit">
                        </div>
                      </div>
                      <div class="row pt-10">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">    
                            <label>Allocated budget :</label>
                            <input class="form-control" type="number" min="0" ng-model="EntityController.data.allocatedBudget" ng-disabled="!EntityController.edit">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">    
                            <date-directive date="EntityController.data.startDate" title="Starting date :" disabled="EntityController.edit" ng-if="EntityController.data.startDate != undefined"></date-directive>
                        </div>
                      </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
                            <a class="pointer" ng-click="EntityController.viewGantt()">See associated Gantt</a>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <!-- Right View -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title"> Taskgroup : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <modal-link-entity-directive entity-linked="taskgroup" clickable="true" ng-if="EntityController.relation != undefined" entity-list="EntityController.relation.taskgroups" edit="EntityController.edit"></modal-link-entity-directive>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title"> Users : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <modal-link-entity-directive entity-linked="ressource" clickable="true" ng-if="EntityController.relation != undefined" entity-list="EntityController.relation.users" edit="EntityController.edit"></modal-link-entity-directive>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <!-- Ressource -->
        <div class="row" ng-if="EntityController.entityActual.entityType == 'ressource'">
            <!-- Left view -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <!-- Actual entity -->
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Ressource : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Username :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.username" ng-disabled="!EntityController.edit">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Email :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.email" ng-disabled="!EntityController.edit">
                        </div>
                      </div>
                      <div class="row pt-10">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">    
                            <label>Cost :</label>
                            <input class="form-control" type="number" min="0" ng-model="EntityController.data.cost" ng-disabled="!EntityController.edit">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
            </div>

            <!-- Right View -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title"> Project : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <modal-link-entity-directive entity-linked="project" clickable="true" ng-if="EntityController.relation != undefined" entity-list="EntityController.relation.project" display="plus" max-relation="1" id="EntityController.data.projectId" edit="EntityController.edit"></modal-link-entity-directive>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <!-- Taskgroup -->
        <div class="row" ng-if="EntityController.entityActual.entityType == 'taskgroup'">
            <!-- Left view -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <!-- Actual entity -->
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Taskgroup : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Name :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.name" ng-disabled="!EntityController.edit">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Position :</label>
                            <input class="form-control" type="number" ng-model="EntityController.data.position" ng-disabled="!EntityController.edit">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
            </div>

            <!-- Right View -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title"> Project : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <modal-link-entity-directive entity-linked="project" clickable="true" ng-if="EntityController.relation != undefined" entity-list="EntityController.relation.projects" display="plus" max-relation="1" id="" edit="EntityController.edit"></modal-link-entity-directive>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title"> Task : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <modal-link-entity-directive entity-linked="task" clickable="true" ng-if="EntityController.relation != undefined" entity-list="EntityController.relation.tasks" display="" max-relation="1" id="" edit="EntityController.edit"></modal-link-entity-directive>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <!-- Task -->
        <div class="row" ng-if="EntityController.entityActual.entityType == 'task'">
            <!-- Left view -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <!-- Actual entity -->
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title">Task : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label>Name :</label>
                            <input class="form-control" type="text" ng-model="EntityController.data.name" ng-disabled="!EntityController.edit">
                        </div>
                      </div>
                      <div class="row pt-10">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <date-directive date="EntityController.data.startDate" title="Starting date :" disabled="EntityController.edit"></date-directive>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <date-directive date="EntityController.data.endDate" title="End date :" disabled="EntityController.edit"></date-directive>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
            </div>

            <!-- Right View -->
            <div class="col cold-lg-6 col-md-6 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                      <h3 class="box-title"> TaskGroup : </h3>
                    </div>
                    <div class="box-body">
                      <div class="row">
                        <modal-link-entity-directive entity-linked="taskgroup" clickable="true" ng-if="EntityController.relation != undefined" entity-list="EntityController.relation.taskgroups" display="plus" max-relation="1" id="" edit="EntityController.edit"></modal-link-entity-directive>
                      </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</section>