
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-if="display == 'input' ">
    <label>{{ title }} :</label>
    <input class="form-control" ng-click="showLinkModal()" type="text" ng-model="EntityController.data.name_task">
</div>
<div>
    <span class="plus pointer" ng-click="showLinkModal()"><i class="fa fa-plus" aria-hidden="true" ng-if="display == 'plus' && edit" ></i></span>
    <div class="col col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped">
            <thead></thead>
            <tbody>
                <tr ng-if="entityLinked == 'project' " ng-repeat="entity in entityList" >
                        <th ng-if="clickable"><a class="pointer view-entity" ng-click="openEntity(entity._id)">{{ entity.projectId }}</a></th>
                        <th ng-if="clickable == undefined">{{ entity.projectId }}</th>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.startDate | dateFilter }}</td>
                        <td>{{ entity.clientName }}</td>
                    </tr>
                    <tr ng-if="entityLinked == 'taskgroup' " ng-repeat="entity in entityList" >
                        <th ng-if="clickable"><a class="pointer view-entity" ng-click="openEntity(entity._id)">{{ entity.taskGroupId }}</a></th>
                        <th ng-if="clickable == undefined">{{ entity.taskGroupId }}</th>
                        <td>{{ entity.nameTaskGroup }}</td>
                        <td>{{ entity.startDate | dateFilter }}</td>
                        <td>{{ entity.endDate | dateFilter }}</td>
                    </tr>
                    <tr ng-if="entityLinked == 'task' " ng-repeat="entity in entityList" >
                        <th ng-if="clickable"><a class="pointer view-entity" ng-click="openEntity(entity._id)">{{ entity.taskId }}</a></th>
                        <th ng-if="clickable == undefined">{{ entity.taskId }}</th>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.startDate | dateFilter }}</td>
                        <td>{{ entity.endDate | dateFilter }}</td>
                    </tr>
                    <tr ng-if="entityLinked == 'ressource' " ng-repeat="entity in entityList" >
                        <th ng-if="clickable"><a class="pointer view-entity" ng-click="openEntity(entity._id)">{{ entity.id_user }}</a></th>
                        <th ng-if="clickable == undefined">{{ entity.id_user }}</th>
                        <td>{{ entity.username }}</td>
                        <td>{{ entity.email }}</td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>