/** Reusable **/
.pointer{cursor: pointer;}
.no-pointer{cursor: default !important;}
.blue-custom-primary{color: #FFF; background-color: rgba(6, 43, 125, 0.80); border-color: rgb(6, 43, 125) }

/** Fonts **/

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli-Regular.ttf") format("ttf");
}

/** Animate **/

    /* Search */
    .search-animate.ng-enter, .search-animate.ng-leave {
        transition: 300ms linear all;
    }
    .search-animate.ng-leave.ng-leave-active {
        opacity: 0;
    }
    .search-animate.ng-enter {
        opacity: 0;
    }
    .search-animate.ng-enter.ng-enter-active {
        opacity: 1;
    }

    /* Alert */
    .alert-wrapper div.ng-enter, .alert-wrapper.ng-leave {
        transition: 500ms linear all;
    }
    .alert-wrapper div.ng-leave.ng-leave-active {
        opacity: 0;
    }
    .alert-wrapper div.ng-enter {
        opacity: 0;
        transform: translateY(-30px);
    }
    .alert-wrapper div.ng-enter.ng-enter-active {
        opacity: 1;
        transform: translateY(0);
    }


/** Main (random css)**/
html, #app, .fullscreen{height: 100vh;}
#pickme {margin: 0 0 0 190px; background-color: rgba(241, 244, 244, 0.28);}
.navbar-static-top{display: flex; align-items: center;}
.navbar-custom-menu{margin-left: auto;}
.nav-menu{flex-direction: row !important;}
.nav-menu li{margin-left: 10px;}
.alert-wrapper{position: fixed;z-index: 9999; width: 100%;}
.alerts{z-index: 9999; opacity: 0.8;margin-bottom: 1px !important; text-align: center;}
.navbar-static-top{padding: 0 !important;}
.nav-menu, .navbar-custom-menu, .nav-menu > li, .nav-menu > li > a{height: 50px;  display: flex; align-items: center;}
.nav-menu > li > a {padding: 15px;}
.table td, .table th{border-top: 1px solid #dee2e6 !important;}

/** EntityList **/

.entitylist-option-wrapper {border-bottom: solid 1px #dadada;}
.entitylist-option {display: flex; padding: 10px 0 10px 0 !important; justify-content: space-between;}

/** Login **/
.login-background{background-image: url('../files/surf.jpg');}

.fading{
    padding: 20px;
    background-color:rgba(10, 0, 0, 0.3);
}

/** Register **/
.register-background{background-image: url('../files/skate.jpg');}

.pointer
{
  cursor: pointer;
}

.login-background
{
  width: 100% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-background
{
  width: 100% !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-login
{
    background-color: #20c997;
    color: #FFF;
}

.btn-register
{
    background-color: #20c997;
    color: #FFF;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot .forgot-pass-content
{
    margin: 10px 0 0 0;
}

form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}




form.register input[type="text"], form.register input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.register input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.register input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.register .remember-forgot .forgot-pass-content
{
    margin: 10px 0 0 0;
}

form.register label, form.register a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.register a
{
    transition: color 0.5s ease;
}

form.register a:hover
{
    color: #2ecc71;
}

/** Sidebar **/

ul{list-style: none;}
.bckg {
    background-color: rgba(6, 43, 125, 0.87); /* #414348 */
    box-shadow: -4px 0px 10px rgba(37, 14, 0, 0.45) inset; /* rgba(14, 14, 14, 0.48) */
    width: 190px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.sidebarHeader {
    width: 190px;
    height: 100%;
    float: left;
    z-index: 99;
    box-shadow: 3px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.sidebarHeader  nav ul li {
    border-bottom: 1px solid #9c9eea; /* #42454D */
    padding-left: 48px;
    transition: all 0.6s;
    border-top: 1px solid #adadad; /* #2E3036 */
}
.sidebarHeader nav ul {
    padding: 0;
}

.sidebarHeader nav ul li a {
    cursor: pointer !important;
    display: block !important;
    color: rgba(241, 244, 244, 0.85) !important;
    text-decoration: none !important;
    line-height: 60px;
    font-size: 18px;
    position: relative;
    letter-spacing: 1px;
    transition: all 0.6s;
}

.sidebarHeader h1 {
    text-align: center;
    font-weight: normal;
    color: #F6F6EF;
    line-height: 60px;
    margin: 0;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #34363A;
    border-bottom: 1px solid rgba(101, 116, 134, 0.57);
}

.sidebarHeader nav ul li:hover {
    background-color: rgba(241, 244, 244, 0.85);
    transition: all 0.6s;
    border-bottom: 1px solid #797979;
}

.sidebarHeader nav ul li:hover a {
    color: rgb(6, 43, 125) !important;
    transition: all 0.6s;
}

.sidebarHeader nav ul li a:before {
    font-family: 'entypo', sans-serif;
    font-size: 20px;
    position: absolute;
    left: -32px;
}

.sidebarHeader nav ul li:first-child a:before {
    font-family: 'FontAwesome';
    content: "\f187";
}
.sidebarHeader nav ul li:nth-child(2) a:before {
    font-family: 'FontAwesome';
    content: "\f03c";
}
.sidebarHeader nav ul li:nth-child(3) a:before {
    font-family: 'FontAwesome';
    content: "\f0ae";
}
.sidebarHeader nav ul li:nth-child(4) a:before {
    font-family: 'FontAwesome';
    content: "\f0c0";
}
.sidebarHeader nav ul li:nth-child(5) a:before {
    font-family: 'FontAwesome';
    content: "\f037";
}

.sidebarHeader h1:hover {
    background-color: #212529;
    transition: all 0.6s;
}

/** Menu **/

.title {
    background-color: #fff;
    border-bottom: 1px solid #C0C1C0;
    height: 63px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 0px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.title h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 3px;
    color: rgba(6, 43, 125, 0.87);
    font-weight: normal;
    padding-left: 40px;
    line-height: 60px;
    text-shadow: 1px 1px 2px #fff;
    position: relative;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}

.title h2:before {
    content: '';
    width: 40px;
    height: 43px;
    position: absolute;
    left: -21px;
    top: 9px;
    background-color: #34363A;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.title > a:before {
    content: "\1f464";
    font-size: 38px;
    position: absolute;
    left: -50px;
    font-family: 'entypo';
}

.title a {
    color: #AAA;
    width: auto;
    margin: 0 20px;
    float: right;
    line-height: 62px;
    position: relative;
    text-decoration: none;
    transition: all .5s;
}

#right-menu {
    color: #FFF;
    background-color: rgba(6, 43, 125, 0.80);;
}
